:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

@font-face {
  font-family: 'grabstein';
  src: local('grabstein'), url(./fonts/grabstein.otf) format('opentype');
  font-family: 'knive';
  src: local('knive'), url(./fonts/Knive.otf) format('opentype');
  font-family: 'liber-struct';
  src: local('liber-struct'), url(./fonts/iber-struct.ttf) format('truetype');
  font-family: 'moonlitflow';
  src: local('moonlitflow'), url(./fonts/MoonLitFlow-Regular.ttf) format('truetype');
    font-family: 'moonlitflow-italic';
  src: local('moonlitflow-italic'), url(./fonts/MoonLitFlow-Italic.ttf) format('truetype');
  font-family: 'thernaly';
  src: local('thernaly'), url(./fonts/Thernaly-Regular.ttf) format('truetype');
  font-family: 'thernaly-italic';
  src: local('thernaly-italic'), url(./fonts/Thernaly-Italic.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


